<!-- Sidebar -->

<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand sidebar-heading">

            Admin Control

        </li>
        <li>
            <a href="{{ path('admin') }}">Overview</a>
        </li>
        <li>
            <a href="{{ path('admin-users') }}">Users</a>
        </li>
        <li>
            <a href="{{ path('admin-photos') }}">Photos</a>
        </li>
        <li>
            <a href="{{ path('admin-tag') }}">Tags</a>
        </li>

    </ul>
</div>